---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";
const description = "An obligatory about page...";
const permalink = `${Astro.site.href}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about"
>
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img
        src="/assets/avatar.png"
        alt="Picture of Tony"
        width="330"
      />
    </figure>
    <p>
      For my day job, I am a machine learning engineer. When I am not working, I
      like to watch tv shows and movies, workout, and tinker with new tech.
    </p>
    <p>
      As an avid reader and podcast listener, I love to embrace the challenge of
      learning new things that are outside my realm of knowledge. I believe that
      human life has nearly unlimited potential, and the only key to unlock it
      is through knowledge and grit. My goal is to use my resources and talents
      to affect change in this world, and help everyone reach their potential.
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
