<footer>
  <span>
    &copy; {new Date().getFullYear()} Tony Hammack. Template by <a
      href="https://www.twitter.com/Charca"
      target="_blank"
      rel="noopener">Maxi Ferreira</a
    >. Illustration by
    <a
      href="https://icons8.com/illustrations/author/zD2oqC8lLBBA"
      target="_blank"
      rel="noopener">Icons 8</a
    >
    from
    <a href="https://icons8.com/illustrations" target="_blank" rel="noopener"
      >Ouch!</a
    >
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: 0.8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
